<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 123
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-button (click)="presentAlert()" id="present-alert">WhatsApp Verify</ion-button>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-button (click)="logDeviceInfo()" expand="block" fill="clear" shape="round">
          logDeviceInfo
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="checkAppAvailability()" expand="block" fill="clear" shape="round">
          appAvailability
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" fill="clear" shape="round" (click)="checkAppInstalled()">
          Click me
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-row>
  </ion-grid>
</ion-content>
