<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="inappbrowser()" expand="block" fill="clear" shape="round">
    Navigate
  </ion-button>
</ion-content>
